.nav{
    height: 50px;
    background-color:cadetblue ;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}